<div class="contenedor">
  <mat-card>
    <form [formGroup]="formPunto" novalidate>
      <mat-card-title class="bg-primary" appearance="fill">
        Nuevo Punto</mat-card-title
      >
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-select
            name="tipo_cargo_id"
            formControlName="tipo_cargo_id"
            (selectionChange)="cambiarTipo()"
          >
            <mat-option *ngFor="let tipo of tipocargos" [value]="tipo.id">
              {{ tipo.id }} - {{ tipo.cargo }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm"
            >Cantidad de Puntos:</span
          >

          <input
            type="number"
            class="form-control"
            name="puntos_disponibles"
            readonly
            formControlName="puntos_disponibles"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>
      </mat-card-content>
    </form>
  </mat-card>

  <div class="mat-elevation-z8">
    <mat-card>
      <table mat-table #puntosDetalle [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue && isAllSelected()"
              [indeterminate]="selection.hasValue && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? calcularPuntosOcupado(row) : null"
              [checked]="selection.isSelected(row)"
              [disabled]="block"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="tipo_cargo">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tipo_cargo.cargo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="puntos_disponibles">
          <th mat-header-cell *matHeaderCellDef>Ptos Disp.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.puntos_disponibles }}
          </td>
        </ng-container>
        <ng-container matColumnDef="puntos_ocupados">
          <th mat-header-cell *matHeaderCellDef>Ptos Ocupados</th>
          <td mat-cell *matCellDef="let element; let index = index">
            <input
              type="text"
              name="position-{{ index }}"
              [(ngModel)]="element.cant_ocupados"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones.</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" focusable="false">
              Borra?
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selection.toggle(row)"
        ></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card>
  </div>
</div>
<br /><br />
<div>
  <button mat-raised-button (click)="onSave()">Console Log Selected</button>
</div>
