<div class="container">
  <div class="row mt-3">
    <div class="col-md">
      <div class="card">
        <div class="card-header">Creación Punto</div>
        <div class="card-body">
          <h4 class="card-title text-left lead mark">Datos de Punto</h4>
          <form class="row g-3" [formGroup]="formPunto" novalidate>
            <div class="col-md-6">
              <label for="" class="form-label">Pto. Cargo</label>
              <select
                name="tipo_cargo"
                formControlName="tipo_cargo"
                (change)="cambiarTipo()"
                class="form-control"
              >
                <option [value]="0">Seleccionar</option>
                <option *ngFor="let tipo of tipocargos" [value]="tipo.id">
                  {{ tipo.id }} - {{ tipo.cargo }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="" class="form-label">Unidades Ptos.</label>
              <input
                type="number"
                readonly
                name="puntos_disponibles"
                formControlName="puntos_disponibles"
                class="form-control"
              />
            </div>

            <div class="col-md-6 form-check form-check-inline">
              <input
                class="form-comtrol form-check-input"
                type="checkbox"
                id="transitorio"
                name="transitorio"
                formControlName="transitorio"
              />
              <label class="form-check-label" for="transitorio">
                Transitorio
              </label>
            </div>
            <div
              class="col-md-5 gap-3 d-md-flex justify-content-md-center mb-3"
            >
              <button
                class="btn btn-primary"
                mat-raised-button
                (click)="abrirDialogo()"
              >
                Puntos Libres
              </button>
            </div>

            <div class="gap-3 d-md-flex justify-content-md-center mb-3">
              <button class="btn btn-primary" type="button" (click)="onSave()">
                Confirmar Punto
              </button>
            </div>
          </form>

          <table class="datatable">
            <thead>
              <th>ID</th>
              <th>Tipo Cargo</th>
              <th>Ptos. Disponible</th>
              <th>Ptos. Ocupados</th>
            </thead>
            <tbody>
              <tr *ngFor="let punto of puntosDetalles; let i = index">
                <td>{{ punto.id }}</td>
                <td>{{ punto.tipo_cargo.cargo }}</td>
                <td>{{ punto.puntos_disponibles }}</td>
                <td>{{ punto.cant_ocupados }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--  <form [formGroup]="formPunto" novalidate>
      <mat-card-title class="bg-primary" appearance="fill">
        Nuevo Punto</mat-card-title
      >
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-select
            name="tipo_cargo_id"
            formControlName="tipo_cargo_id"
            (selectionChange)="cambiarTipo()"
          >
            <mat-option *ngFor="let tipo of tipocargos" [value]="tipo.id">
              {{ tipo.id }} - {{ tipo.cargo }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm"
            >Cantidad de Puntos:</span
          >

          <input
            type="number"
            class="form-control"
            name="puntos_disponibles"
            readonly
            formControlName="puntos_disponibles"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>
        <div class="form-check form-check-online">
          <input
            class="form-check-input"
            type="checkbox"
            name=""
            id=""
            value="checkbox1"
          />
          <label class="form-check-label" for="">Transitorio</label>
        </div>
      </mat-card-content>
    </form>
   -->
  <!-- 
  <div class="mat-elevation-z8">
    <mat-card>
      <table mat-table #puntosDetalle [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue && isAllSelected()"
              [indeterminate]="selection.hasValue && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? calcularPuntosOcupado(row) : null"
              [checked]="selection.isSelected(row)"
              [disabled]="block"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="tipo_cargo">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tipo_cargo.cargo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="puntos_disponibles">
          <th mat-header-cell *matHeaderCellDef>Ptos Disp.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.puntos_disponibles }}
          </td>
        </ng-container>
        <ng-container matColumnDef="puntos_ocupados">
          <th mat-header-cell *matHeaderCellDef>Ptos Ocupados</th>
          <td mat-cell *matCellDef="let element; let index = index">
            <input
              type="text"
              name="position-{{ index }}"
              [(ngModel)]="element.cant_ocupados"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones.</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" focusable="false">
              Borra?
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selection.toggle(row)"
        ></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card> -->
</div>
