<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <app-sidebar></app-sidebar>

  <!-- ========================animate__animated animate__fadeIn"====================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- END Page wrapper  -->
  <!-- ============================================================== -->
</div>
