<div class="row animate__animated animate__fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Cargos"
          #txtSearch
          (keyup)="onSearch(txtSearch.value)"
        />
        <!--   <app-search (search)="handleSearch($event)"></app-search>
       -->
      </div>
    </div>
  </div>
</div>
<div class="row animate__animated animate_fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-between">
          <h3 class="card-title position-relative btn btn-secondary">
            Transformaciones Registrados
            <small
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >{{ totalRegistro }}</small
            >
          </h3>
          <button class="btn btn-success ml-auto" (click)="openAdd()">
            Agregar Transformacion
          </button>
        </div>
      </div>
      <div class="col-12 p-3">
        <table
          class="table table-bordered border table-striped table-hover mt-3"
        >
          <thead class="table-success" style="text-transform: uppercase">
            <tr>
              <th>#</th>
              <th>Nro Resolución</th>
              <th>Resultado Transformación</th>

              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let transformacion of transformaciones
                  | search : page : filtro_valor;
                let i = index
              "
            >
              <th>{{ transformacion.id }}</th>
              <th>
                <div role="button" style="cursor: pointer">
                  {{ transformacion.numeroResolucion }}
                </div>
              </th>
              <th>{{ transformacion.resultadoTransformacion }}</th>

              <th class="d-flex justify-content-center">
                <button
                  class="btn btn-primary mr-3"
                  (click)="openEdit(transformacion)"
                >
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </th>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
        &nbsp;
        <button class="btn btn-primary" (click)="nextPage()">Siguientes</button>
      </div>
    </div>
  </div>
</div>
