<div class="container">
  <div class="row mt-3">
    <div class="col-md">
      <div class="card">
        <div class="card-header">Creación Cargo</div>

        <div class="card-body">
          <h4 class="card-title text-left mark lead">Datos de Cargo</h4>
          <form [formGroup]="formCargo" class="row g-3">
            <div class="col-md-2">
              <label for="idCargo" class="form-label">Cód. Cargo</label>
              <input
                type="number"
                class="form-control"
                id="cargoId"
                formControlName="idCargo"
              />
            </div>
            <div class="col-md-6">
              <label for="caracter_cargo" class="form-label"
                >Caracter Cargo.</label
              >
              <select
                name="caracter_cargo"
                id="caracter_cargo"
                formControlName="caracter_cargo"
                class="form-control"
                (change)="changePuntos($event)"
              >
                <option
                  *ngFor="let caracter of caracter_cargos"
                  [ngValue]="caracter"
                >
                  {{ caracter.nombre }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="unidadOrganizativaId" class="form-label"
                >Unidad Org.</label
              >
              <select
                name="unidadOrganizativaId"
                id="unidadOrganizativaId"
                formControlName="unidadOrganizativaId"
                class="form-control"
              >
                <option [ngValue]="unidad" *ngFor="let unidad of unidades">
                  {{ unidad.nombre }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="estado_cargo" class="form-label">Estado Cargo.</label>
              <select
                name="estado_cargo"
                id="estado_cargo"
                formControlName="estado_cargo"
                class="form-control"
              >
                <option [ngValue]="estado" *ngFor="let estado of estado_cargos">
                  {{ estado.nombre }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="punto_id" class="form-label">Pto. Cargo</label>
              <select
                name="punto_id"
                id="punto_id"
                formControlName="punto_id"
                class="form-control"
              >
                <option [ngValue]="pto" *ngFor="let pto of puntos">
                  {{ pto.tipo_cargo.id }}- {{ pto.tipo_cargo.cargo }} -
                  {{ pto.puntos_disponibles }}
                </option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="transfCreacionId" class="form-label"
                >Transf. Creación.</label
              >
              <select
                name="transfCreacionId"
                id="transfCreacionId"
                formControlName="transfCreacionId"
                class="form-control"
              >
                <option
                  [ngValue]="transf_crea"
                  *ngFor="let transf_crea of transf_creaciones"
                >
                  {{ transf_crea.numeroResolucion }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="transfSupresionId" class="form-label"
                >Transf. Supresión</label
              >
              <select
                name="transfSupresionId"
                id="transfSupresionId"
                formControlName="transfSupresionId"
                class="form-control"
              >
                <option
                  [ngValue]="transf_sup"
                  *ngFor="let transf_sup of transf_supresiones"
                >
                  {{ transf_sup.numeroResolucion }}
                </option>
              </select>
            </div>
            <div class="gap-3 d-md-flex justify-content-md-center mb-3">
              <button class="btn btn-primary" type="button" (click)="onSave()">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
