<div class="row animate__animated animate__fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Usuario"
          #input
        />
      </div>
    </div>
  </div>
</div>

<div class="row animate__animated animate__fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-between mb-3">
          <h3 class="card-title">
            Agentes Registrados (<small>{{ totalRegistrado }}</small
            >)
          </h3>
          <button
            class="btn btn-primary btn-rounded"
            [routerLink]="['/app/usuarios', 'create']"
          >
            <i class="fa fa-plus"></i>Crear Usuario
          </button>
        </div>

        <table
          class="table table-bordered border table-striped table-hover mt-3"
        >
          <thead class="table-success" style="text-transform: uppercase">
            <tr>
              <th>Nombre y Apellido</th>
              <th>Nombre Usuario</th>
              <th>Email</th>
              <th>Permiso</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <th>
                <div role="button" style="cursor: pointer">
                  {{ usuario.nombre }}
                </div>
              </th>
              <th>{{ usuario.nombreUsuario }}</th>
              <th>
                {{ usuario.email }}
              </th>
              <th>
                {{ usuario.roles[0].nombre }}
              </th>

              <th class="d-flex justify-content-center">
                <button class="btn btn-primary mr-3">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
