<div class="p-3 mb-2 bg-info">
  <h1 style="text-align: cemter">
    {{ agente != null ? "Editar Agente" : "Nuevo Agente" }}
  </h1>
</div>

<div mat-dialog-content class="mat-typography">
  <div class="card-body">
    <form
      [formGroup]="agentForm"
      novalidate
      (ngSubmit)="agente != null ? editAgente() : addAgente()"
    >
      <div class="form-group">
        <label class="form-label" for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre de Agente"
          required
        />
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input
          type="text"
          id="apellido"
          name="apellido"
          formControlName="apellido"
          class="form-control"
          placeholder="Apellido de Agente"
          required
        />
      </div>

      <div class="form-group">
        <label>Tipo Documento</label>
        <select
          name="tipoDocId"
          id="tipoDocId"
          formControlName="tipoDocId"
          class="form-control"
          (change)="cambiarTipoDocumento($event)"
        >
          <option [ngValue]="item.id" *ngFor="let item of tiposdocumento">
            {{ item.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>documento</label>
        <input
          type="text"
          id="documento"
          name="documento"
          formControlName="documento"
          class="form-control"
          placeholder="Número de documento"
          required
        />
      </div>

      <div class="input-group mb-3">
        <input
          type="checkbox"
          name="esFallecido"
          id="esFallecido"
          value=""
          class="form-check-input mt-0"
          formControlName="esFallecido"
        />
        <label for="esFallecido" class="form-label">es Fallecido?</label>
      </div>

      <div class="form-group">
        <label for="fechaBaja" class="form-label">Fecha Baja</label>
        <div class="input-group">
          <input
            [matDatepicker]="picker"
            placeholder="dd/mm/aaaa"
            name="fechaBaja"
            id="fechaBaja"
            class="form-control"
            formControlName="fechaBaja"
          />
          <mat-datepicker #picker></mat-datepicker>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
        </div>
      </div>

      <div class="form-group">
        <label for="fechaBaja" class="form-label">Fecha Nacimiento</label>
        <div class="input-group">
          <input
            [matDatepicker]="picker"
            placeholder="dd/mm/aaaa"
            name="fechaNac"
            id="fechaNac"
            [class.is-invalid]="fechaNacimientoNoValido"
            class="form-control"
            formControlName="fechaNac"
          />
          <mat-datepicker #picker></mat-datepicker>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
        </div>
        <small *ngIf="fechaNacimientoNoValido" class="text-danger">
          Fecha de nacimiento es requerido
        </small>
      </div>
      <!--  <div class="form-group">
        <label for="fechaNac" class="form-label">Fecha Nacimiento</label>
        <input
          type="date"
          name="fechaNac"
          id="fechaNac"
          class="form-control"
          formControlName="fechaNac"
        />
      </div> -->
      <!-- <mat-form-field appearance="fill">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="fechaNac" />
        <mat-hint>DD-MM-YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
 -->
      <div class="form-group">
        <label>Legajo</label>
        <input
          type="text"
          id="legajo"
          name="legajo"
          formControlName="legajo"
          class="form-control"
          placeholder="Legajo"
          required
        />
      </div>

      <div class="form-group">
        <label>domicilio</label>
        <input
          type="text"
          id="domicilio"
          name="domicilio"
          formControlName="domicilio"
          class="form-control"
          placeholder="Domicilio"
          required
        />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label>Telefono</label>
        <input
          type="telefono"
          id="telefono"
          name="telefono"
          formControlName="telefono"
          class="form-control"
          required
        />
      </div>

      <button
        class="btn btn-inverse waves-effect waves-light m-r-10"
        mat-dialog-close
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-success waves-effect waves-light">
        Guardar
      </button>
    </form>
  </div>
</div>
