<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li>
          <a
            class="waves-effect waves-dark"
            href="index.html"
            aria-expanded="false"
            ><i class="fa fa-lock"></i
            ><span class="hide-menu">Mis Privilegios</span></a
          >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            routerLink="/page/registro"
            aria-expanded="false"
            ><i class="fa fa-users"></i
            ><span class="hide-menu">Usuarios</span></a
          >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            routerLink="/page/agente"
            aria-expanded="false"
            ><i class="fa fa-adn"></i><span class="hide-menu">Agentes</span></a
          >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            href="icon-material.html"
            aria-expanded="false"
            ><span class="hide-menu"> </span
          ></a>
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            href="map-google.html"
            aria-expanded="false"
            ><i class="mdi mdi-earth"></i><span class="hide-menu">Map</span></a
          >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            href="pages-blank.html"
            aria-expanded="false"
            ><i class="mdi mdi-book-open-variant"></i
            ><span class="hide-menu">Blank</span></a
          >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            href="pages-error-404.html"
            aria-expanded="false"
            ><i class="mdi mdi-help-circle"></i
            ><span class="hide-menu">404</span></a
          >
        </li>
      </ul>
      <div class="text-center mt-4">
        <a
          href="https://wrappixel.com/templates/adminpro"
          class="btn waves-effect waves-light btn-info hidden-md-down text-white"
        >
          Upgrade to Pro</a
        >
      </div>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
