<div class="row animate__animated animate__fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Materia"
          #txtSearch
          (keyup)="onSearch(txtSearch.value)"
        />
        <!--   <app-search (search)="handleSearch($event)"></app-search>
       -->
      </div>
    </div>
  </div>
</div>

<div class="row animate__animated animate_fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h3 class="card-title position-relative btn btn-secondary">
            Cargos Registrados
            <small
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >{{ totalRegistro }}</small
            >
          </h3>

          <button class="btn btn-success ml-auto" (click)="openDialog()">
            Agregar Materia
          </button>
        </div>
      </div>
      <div class="col-12 p-3">
        <table
          class="table table-bordered border table-striped table-hover mt-3"
        >
          <thead class="table-success" style="text-transform: uppercase">
            <tr>
              <th>#</th>
              <th>Materia</th>
              <th>Codigo Guarani</th>
              <th>Departamento</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let subunidad of subunidades
                  | materiasSearch : page : filtro_valor
              "
            >
              <td>{{ subunidad.id }}</td>
              <td>{{ subunidad.nombre }}</td>
              <td>{{ subunidad.codigoGuarani }}</td>
              <td>{{ subunidad.unidadOrganizativaId.nombre }}</td>
              <td class="d-flex justify-content-center">
                <button
                  class="btn-sm btn-primary mr-3"
                  (click)="editDialog(subunidad)"
                >
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn-sm btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
        &nbsp;
        <button class="btn btn-primary" (click)="nextPage()">Siguientes</button>
      </div>
    </div>
  </div>
</div>
