<mat-card-title>
  <h1 mat-dialog-title>
    {{
      transformacion != null ? "Editar Transformacion" : "Nueva Transformacion "
    }}
  </h1>
</mat-card-title>
<mat-dialog-content class="mat-typography">
  <div class="card-body">
    <form
      [formGroup]="transformacionForm"
      novalidate
      (ngSubmit)="
        transformacion != null ? editTransformacion() : addTransformacion()
      "
    >
      <div class="form-group">
        <label class="form-label">Resolución Transformación</label>
        <input
          type="text"
          id="numeroResolucion"
          name="numeroResolucion"
          formControlName="numeroResolucion"
          class="form-control"
          placeholder="Resolución de Transformación"
          mask="0000/0000"
        />
        <small *ngIf="numeroResolucionNoValido" class="text-danger"
          >El Resolución de la transformación es requerido</small
        >
      </div>
      <div class="form-group">
        <label class="form-label">Resultado Transformación</label>
        <textarea
          type="text"
          id="resultadoTransformacion"
          name="resultadoTransformacion"
          formControlName="resultadoTransformacion"
          class="form-control"
          rows="6"
          placeholder="Resultado de Transformación"
        ></textarea>
        <small *ngIf="resultadoTransformacionNoValido" class="text-danger"
          >El resultado de la transformación es requerido</small
        >
      </div>

      <button
        (click)="onClose()"
        class="btn btn-outline-secondary m-r-10"
        mat-dialog-close
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-success waves-effect waves-light">
        Guardar
      </button>
    </form>
  </div>
</mat-dialog-content>
