<mat-card-title>
  <h1 mat-dialog-title>
    {{
      transformacion != null ? "Editar Transformacion" : "Nueva Transformacion "
    }}
  </h1>
</mat-card-title>
<mat-dialog-content class="mat-typography">
  <div class="card-body">
    <form
      [formGroup]="transformacionForm"
      novalidate
      (ngSubmit)="
        transformacion != null ? editTransformacion() : addTransformacion()
      "
    >
      <mat-form-field>
        <mat-label>Nro Resolucion</mat-label>
        <input
          matInput
          type="text"
          id="numeroResolucion"
          name="numeroResolucion"
          formControlName="numeroResolucion"
          placeholder="Número Resolución"
          required
        />
      </mat-form-field>

      <div class="form-group">
        <label>Resultado Transformación</label>
        <input
          type="number"
          id="resultadoTransformacion"
          name="resultadoTransformacion"
          formControlName="resultadoTransformacion"
          class="form-control"
          placeholder="Resultado de Transformación"
          required
        />
      </div>

      <button
        (click)="onClose()"
        class="btn btn-inverse waves-effect waves-light m-r-10"
        mat-dialog-close
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-success waves-effect waves-light">
        Guardar
      </button>
    </form>
  </div>
</mat-dialog-content>
