mat-card-header{
    background: #2988e0e3;
    padding: 10px 1px;
    color:white;
  }
  
  mat-card-content{
    padding: 10px;
  }
  
  mat-card{
    padding:0;
  }

  .color {
    background-color: green;
  }