<div class="container">
  <div class="row mt-3">
    <div class="col-md">
      <div class="card">
        <div class="card-header">Designación</div>
        <div class="card-body">
          <h4 class="card-title text-left mark lead">Datos del Cargo</h4>
          <form [formGroup]="formCargo" class="row g-3">
            <div class="col-md-4">
              <label for="idCargo" class="form-label">Cód. Cargo</label>
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': existe_cargo }"
                  id="idCargo"
                  name="idCargo"
                  formControlName="idCargo"
                />
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="buscar()"
                >
                  Buscar
                </button>

                <div *ngIf="existe_cargo" class="invalid-feedback">
                  <div>
                    {{ mensaje }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="tipoCargo" class="form-label">Tipo Cgo</label>
              <input
                type="text"
                class="form-control"
                id="tipoCargo"
                name="tipoCargo"
                formControlName="tipoCargo"
                readonly
              />
            </div>
            <div class="col-md-3">
              <label for="caracter" class="form-label">Caracter</label>
              <select
                name="caracter"
                id="caracter"
                formControlName="caracter"
                class="form-select"
                [attr.disabled]="true"
              >
                <option
                  [ngValue]="caracter.id"
                  *ngFor="let caracter of caracter_list"
                >
                  {{ caracter.nombre }}
                </option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="estadoCargo" class="form-label">Estado Cgo</label>
              <select
                name="estadoCargo"
                id="estadoCargo"
                formControlName="estadoCargo"
                class="form-select"
              >
                <option
                  [ngValue]="estado.id"
                  *ngFor="let estado of estadocargo_list"
                >
                  {{ estado.nombre }}
                </option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="transfCreacionId" class="form-label"
                >Transf Creacion</label
              >
              <select
                name="transfCreacionId"
                id="transfCreacionId"
                class="form-select"
                formControlName="transfCreacionId"
                [attr.disabled]="true"
              >
                <option
                  *ngFor="let transf of transformacion_list"
                  [ngValue]="transf.id"
                >
                  {{ transf.numeroResolucion }}
                </option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="tranfSupresionId" class="form-label"
                >Transf Supresión</label
              >
              <select
                name="tranfSupresionId"
                id="tranfSupresionId"
                class="form-select"
                formControlName="transfSupresionId"
                (change)="cambiarTransformacionSupr()"
              >
                <option [ngValue]="0">Sin Información</option>
                <option
                  *ngFor="let transf of transformacion_list"
                  [ngValue]="transf.id"
                >
                  {{ transf.numeroResolucion }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="subunidadOrganizativaId" class="form-label"
                >Materia
              </label>
              <select
                name="subunidadOrganizativaId"
                id="subunidadOrganizativaId"
                formControlName="subunidadOrganizativaId"
                class="form-select"
                (change)="cambiarSubunidadOrganizativa()"
              >
                <option [ngValue]="0">Sin Información</option>
                <option
                  [ngValue]="subunidad.id"
                  *ngFor="let subunidad of subunidades"
                >
                  {{ subunidad.nombre }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="puntoId" class="form-label">Punto</label>
              <select
                name="puntoId"
                id="puntoId"
                formControlName="puntoId"
                class="form-select"
                [attr.disabled]="true"
              >
                <option [ngValue]="punto.id" *ngFor="let punto of puntos">
                  {{ punto.id }} - {{ punto.codPunto }} -
                  {{ punto.tipo_cargo.cargo }}
                </option>
              </select>
            </div>
          </form>
          <br />
          <div *ngIf="block_agente">
            <form [formGroup]="formAgente" class="row g-3">
              <div class="mt-3">
                <h4 class="card-title text-left mark lead">Datos del Agente</h4>
              </div>

              <div class="col-md-1">
                <label for="tipoDocId" class="form-label">Tipo Doc.</label>
                <select
                  name="tipoDocId"
                  id="tipoDocId"
                  formControlName="tipoDocId"
                  class="form-control"
                >
                  <option
                    [ngValue]="tipo.id"
                    *ngFor="let tipo of tipodocumento_list"
                  >
                    {{ tipo.nombre }}
                  </option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="documento" class="form-label">Documento</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="documento"
                    name="documento"
                    [ngClass]="{ 'is-invalid': existe_agente }"
                    formControlName="documento"
                  />
                  <span class="input-group-btn">
                    <button
                      class="btn btn-success"
                      type="button"
                      (click)="buscarAgente()"
                    >
                      Buscar
                    </button>
                  </span>
                  <div *ngIf="existe_agente" class="invalid-feedback">
                    <div>
                      {{ mensaje }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  formControlName="nombre"
                />
              </div>
              <div class="col-md-4">
                <label for="apellido" class="form-label">Apellido</label>
                <input
                  type="text"
                  class="form-control"
                  id="apellido"
                  name="apellido"
                  formControlName="apellido"
                />
              </div>
              <div class="col-md-4">
                <label for="fechaNac" class="form-label">Fecha Nac.</label>
                <input
                  type="date"
                  id="fechaNac"
                  class="form-control"
                  formControlName="fechaNac"
                />
              </div>

              <div class="col-md-4">
                <label for="legajo" class="form-label">Nro. Legajo</label>
                <input
                  type="number"
                  class="form-control"
                  id="legajo"
                  name="legajo"
                  formControlName="legajo"
                />
              </div>
              <div class="col-md-4">
                <label for="fechaMovimiento" class="form-label">
                  Fecha Mov.</label
                >
                <input
                  type="date"
                  name="fechaMovimiento"
                  id="fechaMovimiento"
                  formControlName="fechaMovimiento"
                  class="form-control"
                  value=""
                />
              </div>
              <div class="col-md-3">
                <label for="resolucionInicio"> Res. Inicio</label>
                <input
                  type="text"
                  name="resolucionInicio"
                  id="resolucionInicio"
                  formControlName="resolucionInicio"
                  class="form-control"
                />
              </div>
              <div class="col-md-3">
                <label for="fechaInicio" class="form-label">
                  Fecha Inicio</label
                >
                <input
                  type="date"
                  name="fechaInicio"
                  id="fechaInicio"
                  formControlName="fechaInicio"
                  class="form-control"
                  value=""
                />
              </div>

              <div class="col-md-3">
                <label for="resolucionFin" class="form-label">
                  Res. Final</label
                >
                <input
                  type="text"
                  name="resolucionFin"
                  id="resolucionFin"
                  formControlName="resolucionFin"
                  class="form-control"
                />
              </div>
              <div class="col-md-3">
                <label for="fechaFin" class="form-label"> Fecha Final</label>
                <input
                  type="date"
                  name="fechaFin"
                  id="fechaFin"
                  formControlName="fechaFin"
                  class="form-control"
                  value=""
                />
              </div>

              <div class="col-md-12">
                <label for="motivo" class="form-label">Motivo Movimiento</label>
                <textarea
                  class="form-control"
                  rows="5"
                  id="motivo"
                  name="motivo"
                ></textarea>
              </div>
            </form>
          </div>

          <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-primary" (click)="onSave()">
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="contenedor">
  <mat-card>
    <form novalidate>
      <mat-card-header class="bg-primary">
        <mat-card-title appearence="fill"> Designación </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Datos del Cargo</mat-card-title>
        <div class="form-group">
          <label for="">Nro Cargo</label>
          <input type="number" name="idCargo" id="idCargo" />
        </div>
        <div class="form-group">
          <label for="unidad_organizativa_id">Unidad Org.</label>
          <select name="" id="">
            <option value="Seleccione">Seleccione</option>
          </select>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
 -->
